@font-face {
  font-family: 'Chillax';
  src: url('/fonts/chillax-regular/Chillax-Regular.woff2') format('woff2'),
    url('/fonts/chillax-regular/Chillax-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Chillax';
  src: url('/fonts/chillax-bold/Chillax-Bold.woff2') format('woff2'),
    url('/fonts/chillax-bold/Chillax-Bold.woff') format('woff');
  font-weight: bold;
}
:root {
  --base-color: #0044ff;
  --base-hover-color: #ffffff;
  --font-family-regular: font-family: 'Chillax', sans-serif;
  --font-size-medium: 22px;
  --button-border-radius: 5px;
}
html {
  font-family: 'Chillax', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}
#app {
  text-align: center;
  color: #000004;
  margin-top: 60px;
}
.m-grid-row{
  width: 100%;
  display: flex;
  justify-content: center;
}